*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior:smooth;
  
  }
  
  header{
      position:fixed;
      top:0%;
      left:0%;
      padding:20px;
      width:100%;
      z-index:1;
      display:flex;
      justify-content:space-between;
      align-items:center;
      transition:0.5s;
  
  }
  .menuToggle{
  position: relative;
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  }
  
  .menuToggle .bar {
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 3px;
  }
  
  .navbar{
      background-color:rgb(4, 9, 30);
      font-style:bold;
      padding: 5px;
      
      z-index: 800;
      position:fixed;
      height:auto;
      width:100%; 
      top:0px;
      margin-left:-1.2rem;
  
  }
  .navbar ul{
      position:absolute;
      text-align:right;
      left:65%;
      top:15px;
      
  }
  .navbar li{ 
      color:black;
      flex-wrap: wrap;
      text-align:right;
      display: inline-block;
      justify-content: space-between;
      margin-left:24rem;
      font-size:18px;
      font-weight:bold;
      border-bottom: 4px solid transparent;
      line-height:none;
      position:relative;
      left:-20%;
      margin-top:1rem;
  }
  .navbar li .anchor{
      
      text-decoration: none;
      
  
     
  }
  .navbar a{
      text-decoration:none;
      color:white;
      margin-left:20px;
      text-align:right;
       
      
  }
  .navbar span{
      color:orange;
  }
  .navbar input{
      color:white;
      background-color: orange;
      font-weight:bold;
      font-size:1.2rem;
      height:2em;
    width:100%;
   margin-left:40%;
   margin-top:0.2em;
  }
  .navbar a:hover{
  
      color:rgb(66, 139, 228);
      
  }
  .navbar input:hover{
      color:black;
  }
  .navbar select{
      color:white;
      background-color:transparent;
      border:none;
  }
  .navbar select option{
      color:black;
  }
  
  .img{
  text-align:left;
  padding-left:40px;
  
  }
  .img img{
      width:150px;
      height:90px;
      border-radius:50%;
      
  }
  .entete{
      position:relative;
      width:100%;
      min-height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      background-image:linear-gradient(rgba(4, 9, 30, 0.188),rgba(4, 9, 30, 0.303)),url(goril.jpg);
  }
  .entete.sect1{
  max-width:70%;
  text-align:center;
  }
  h1{
      text-align:center;
      font-size:2em;
      text-transform:capitalize;
      color:#fff; 
  }
  .entete p{
      color:white;
      font-size:1.2rem;
  }
  
  .aprop{
      justify-content:center;
  
  }
  .entete span{
    text-align:center;
    color:white;
    font-size:1.5em;
    margin-left:40%;
    margin-bottom:1.2rem;
  }
  .entete input{
    background-color:orange;
    text-align:center;
    margin-left:42.4%;
    height:2.4rem;
    width:10%;
    color:white;}


  
  
  h2{
      color:black;
      font-weight:bold;
      font-size:2em;
      text-align:center;
      width:100%;
      margin-top:2rem;
  
  }
  .aprop.par{
      color:black;
      background:transparent;
      width:50%;
      box-sizing: border-box;
      font-size:27px;
      text-align:center;
      position:relative;
      top:89%;
      justify-items:normal;
      margin-left:47%;;
  
  }
  .par{
      text-align:justify;
      font-size:1.0rem;
      position:relative;
      margin-top:-24rem;
      width:80%;
      margin-left:20%;
  
  }
  .aprop img{
    width:19%;
    
  }
 
  h2 span{
      color:rgba(79, 101, 246, 0.797);
  }
  .but{
      text-align:center;
      width:100%;
      background-image:linear-gradient(rgba(163, 163, 94, 0.988),rgba(163,163,94,0.508)),url(./pictures/p.jpg);
  }
  .but1{
   
      text-align:center;
      padding-bottom:2.5rem;
      margin-top:3rem;
  }
  
  .but1 h3{
  color:black;
  font-size:2em;
  margin-top:2rem;
  }
  
  
   .but li{
      font-size:1.2rem;
      width:70%;
    text-align:justify;
    
    margin-top:2rem;
    color:black;
    margin-left:14%;
    width:77%;
    margin-left:10%;
       
  }
  .par1.list{
      list-style: circle;
  }
  h3 li{
  list-style:circle;
  
  }
  h3 span{
      color:rgba(79, 101, 246, 0.797);
      
  }
  .siege{
      text-align:center;
      width:100%;
      background-image:linear-gradient(#fff,#00000053,rgba(0, 0, 0, 0.474),rgba(0, 0, 0, 0.512)),url(./pictures/p.jpg);
  }
  h4{
      color:black;
      font-size:2em;
      margin-top:1.2rem;
      text-align:center;
      font-weight:bold;
  }
  h4 span{
      color:rgba(79, 101, 246, 0.797);
  }
  .h4 p{
      text-align:justify;
      margin-top:2rem;
      font-size:1.2rem;
      margin-left:9%;
     
      
  
  }
  
  .organe h4{
      margin-top:2.7rem;
      font-weight:bold;
  }
  .org li{
      text-align:justify;
      margin-left:9%;
      font-size:1.2rem;
  }
  .org p{
      text-align:justify;
      margin-left:12%;
      margin-top:2rem;
      font-size:1.2rem;
  }
  .org ul{
      text-align:justify;
      margin-left:12%;
      font-size:1.2rem;
  }
  .menuToggle.active {
      background-color: rgba(0, 0, 0, 0.5);
  }
  .events h2{
    text-align:center;

    
  }
  .events ul{
    text-align:justify;
    margin-left:20%;
    margin-top:1.7rem;
  }
  .support h2{
    font-size:1.2rem;
    color:blue;
  }
  .support input{
    color:black;
    background-color:orange;
    width:14%;
    height:3rem;
    font-size:1.1em;
    margin-left:43%;
    margin-top:2rem;
    font-weight:bold;
  }
  .contact p{
    text-align:center;
    margin-top:1.4rem;
  }
  .contact a{
    color:black;
   
  }
  .contact i{
    text-align:center;
    font-size:1.3rem;
    margin-left:25%;
    margin-top:1.3rem;
    display:inline-block;
  }